@model Project.Models.House

@{
    ViewData["Title"] = "刊登房屋";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create2" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HouseName" class="control-label"></label>
                <input asp-for="HouseName" class="form-control" />
                <span asp-validation-for="HouseName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Square" class="control-label"></label>
                <input asp-for="Square" class="form-control" />
                <span asp-validation-for="Square" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rent" class="control-label"></label>
                <input asp-for="Rent" class="form-control" />
                <span asp-validation-for="Rent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityID" class="control-label">縣市</label>
                <select asp-for="CityID" class ="form-control" asp-items="ViewBag.CityID"></select>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <textarea asp-for="Note" class="form-control" rows="6" ></textarea>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeID" class="control-label">房屋類別</label>
                <select asp-for="TypeID" class ="form-control" asp-items="ViewBag.TypeID"></select>
            </div>
            <div class="form-group">
                <label asp-for="MemberID" class="control-label">會員名稱</label>
                <select asp-for="MemberID" class ="form-control" asp-items="ViewBag.MemberID"></select>
            </div>
            <div class="form-group">
                <label for="file">上傳圖片</label>
                <input type="file" name="file" id="uploadPhoto" class="form-control" />
                <span class="text-danger">@ViewData["Message"]</span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="送出" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h4>刊登說明</h4>
        <h5>首次刊登請先加入會員</h5>
        <a asp-action="Create" asp-controller="Members" class="btn btn-info">加入會員</a>

        <div id="photoPreview" class="mt-3">

        </div>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Index" asp-route-cityID="@ViewData["passCityID"]">回到房屋資料</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $('#uploadPhoto').change(function () {
            let file = this.files[0];

            let reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = event => {

                //console.log(event);
                $('#photoPreview').html(`<img src="${event.target.result}" class="img-fluid" />`);
            };
            
        });
    </script>
}
